.portfolio-nav {
	display: flex;
	justify-content: space-between;
	height: 10%;
	align-items: center;
	font-family: $roboto;
	padding: 0.4rem 4.4rem 0;
	border-radius: 0 0 20% 20%;
	opacity: 0.6;

	.nav-item {
		color: white;
		font-size: 1.6rem;
		opacity: 0.88;
		margin-left: 3rem; 
		padding-bottom: 4px;
		text-decoration: none;

		&:first-child {
			margin: 0;
		}
	}

	.name {
		color: white;
		font-size: 2.2rem;
		margin-right: 0 6rem;
		opacity: 0.88;
	}

	.active {
		border-bottom: 5px solid white;
		border-radius: 12%;
	}

	@media (max-width: 600px) {

		height: 6%;
		justify-content: center;
		.name {
			display:none;
		}
		.portfolio-nav {
		}
	}	

}